In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### AIR POLUTION DATA

In [ ]:

myFile = "air_pollution.xlsx"
airPol = pd.read_excel(myFile, decimal=".")
airPol.shape

(3288, 82)

In [ ]:
airPol.head()

,Tarih,Adana - Meteoroloji,Adıyaman,Afyon-Selçuk Cami,Ağrı,Aksaray,Amasya,Ankara - Sincan,Antalya,Ardahan,...,Şırnak,Tekirdağ,Tokat,Trabzon - Valilik,Tunceli,Uşak-Trafik (Yeni),Van,Yalova,Yozgat,Zonguldak - Trafik
0,NaN,PM10 ( µg/m3 ),PM10 ( µg/m3 ),PM10 ( µg/m3 ),PM10 ( µg/m3 ),PM10 ( µg/m3 ),PM10 ( µg/m3 ),PM10 ( µg/m3 ),PM10 ( µg/m3 ),PM10 ( µg/m3 ),...,PM10 ( µg/m3 ),PM10 ( µg/m3 ),PM10 ( µg/m3 ),PM10 ( µg/m3 ),PM10 ( µg/m3 ),PM10 ( µg/m3 ),PM10 ( µg/m3 ),PM10 ( µg/m3 ),PM10 ( µg/m3 ),PM10 ( µg/m3 )
1,2009.0,49.81,66.46,150.25,42.56,0,47.68,0,104.55,41.74,...,0,88.01,60.36,47.83,0,0,42.52,38.47,79.38,110.96
2,2009.0,0,90.47,472.27,0,0,50.9,0,0,108.9,...,0,72.37,81.24,77.06,0,0,83.1,25.12,70.83,174.4
3,2009.0,0,103.06,470.83,0,0,74.91,0,135.03,175.24,...,0,71.71,79.82,123.69,0,0,129.71,26.83,32.24,170.05
4,2009.0,0,67.06,272.57,0,0,134.03,0,70.96,217.74,...,0,72.12,113.34,90.46,0,0,137.51,32.19,22.72,0

In [ ]:
airPol.iloc[1,0] ==2009
float("54.5")

54.5

yıllara göre TR deki tüm illerdeki air pollutionlar:

In [ ]:
##2009 daki tum illerdeki veriler 
pollution_by_Year= {
    "year" :["2009", "2010", "2011" , "2012", "2013" , "2014"  , "2015", "2016", "2017"],
    "pollution" : [0,0,0,0,0,0,0,0,0],
     }
df = pd.DataFrame(pollution_by_Year)
for i in range(1,3288):
  temp = pollution_by_Year['pollution']
  for j in range(1,82):
    if(airPol.iloc[i,0] == 2009):
      temp[0] += (float(airPol.iloc[i,j]) /365)       
    if(airPol.iloc[i,0] == 2010):
      temp[1] += (float(airPol.iloc[i,j]) /365)       
    if(airPol.iloc[i,0] == 2011):
      temp[2] += (float(airPol.iloc[i,j]) /365)           
    if(airPol.iloc[i,0] == 2012):
      temp[3] += (float(airPol.iloc[i,j]) /365)        
    if(airPol.iloc[i,0] == 2013):
      temp[4] += (float(airPol.iloc[i,j]) /365)       
    if(airPol.iloc[i,0] == 2014):
      temp[5] += (float(airPol.iloc[i,j]) /365)       
    if(airPol.iloc[i,0] == 2015):
      temp[6] += (float(airPol.iloc[i,j]) /365)       
    if(airPol.iloc[i,0] == 2016):
      temp[7] += (float(airPol.iloc[i,j]) /365)   
    if(airPol.iloc[i,0] == 2017):
      temp[8] += (float(airPol.iloc[i,j]) /365) 

      
    df["pollution"] = temp

In [ ]:
df.head()

   year    pollution
0  2009  4289.223918
1  2010  5017.441425
2  2011  4277.932356
3  2012  4067.265479
4  2013  4358.940740

In [ ]:
df["pollution"].value_counts().nlargest(10)     #burda baska teknikler de kullanilabilir yillar kiyaslanabilir histogram vs

4289.223918    1
5017.441425    1
4277.932356    1
4067.265479    1
4358.940740    1
4070.139589    1
4201.102685    1
4013.349507    1
4125.274575    1
Name: pollution, dtype: int64

In [ ]:
df.describe() ##tekrardan istatistikler farki yöntemlerel gösterilebilr

         pollution
count     9.000000
mean   4268.963364
std     304.057803
min    4013.349507
25%    4070.139589
50%    4201.102685
75%    4289.223918
max    5017.441425

In [ ]:
# totalde bir ilde  pm 10 degeri her index sirasi ile bir ili temsil eder 
pollution_by_city= {
    "cities" : [ 'Adana', 'Adıyaman', 'Afyonkarahisar', 'Ağrı', 'Amasya', 'Ankara', 'Antalya', 'Artvin', 'Aydın', 'Balıkesir', 'Bilecik', 'Bingöl', 'Bitlis', 'Bolu', 'Burdur', 'Bursa', 'Çanakkale', 'Çankırı', 'Çorum', 'Denizli', 'Diyarbakır', 'Edirne', 'Elazığ', 'Erzincan', 'Erzurum', 'Eskişehir', 'Gaziantep', 'Giresun', 'Gümüşhane', 'Hakkari', 'Hatay', 'Isparta', 'Mersin', 'İstanbul', 'İzmir', 'Kars', 'Kastamonu', 'Kayseri', 'Kırklareli', 'Kırşehir', 'Kocaeli', 'Konya', 'Kütahya', 'Malatya', 'Manisa', 'Kahramanmaraş', 'Mardin', 'Muğla', 'Muş', 'Nevşehir', 'Niğde', 'Ordu', 'Rize', 'Sakarya', 'Samsun', 'Siirt', 'Sinop', 'Sivas', 'Tekirdağ', 'Tokat', 'Trabzon', 'Tunceli', 'Şanlıurfa', 'Uşak', 'Van', 'Yozgat', 'Zonguldak', 'Aksaray', 'Bayburt', 'Karaman', 'Kırıkkale', 'Batman', 'Şırnak', 'Bartın', 'Ardahan', 'Iğdır', 'Yalova', 'Karabük', 'Kilis', 'Osmaniye', 'Düzce'],
    "pollution":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]
}
df2 = pd.DataFrame(pollution_by_city)
temp = [] 
tempcity =[]
for i in range(1,82):
  tempcity = airPol.iloc[0,i]
  t = 0;
  for j in range(1,3288):
    t+= (float(airPol.iloc[j,i])/365) 
  temp.append(t)
df2['pollution'] = temp

In [ ]:
df2.head()

           cities   pollution
0           Adana  496.898082
1        Adıyaman  581.633699
2  Afyonkarahisar  732.705041
3            Ağrı  441.948685
4          Amasya  512.022055

#DEATHS

In [ ]:
myFile = "deaths.xls"
deaths = pd.read_excel(myFile)
deaths.shape

(96, 83)

In [ ]:

columns = list(range(6, 84, 9))
selected_df = deaths.iloc[:, columns]
selected_df = selected_df.drop([0, 1, 2, 3, 4, 88, 89, 90, 91, 92, 93, 94, 95])

new_columns = list(range(2009, 2018))
selected_df.columns = new_columns

cities = ['Türkiye', 'Adana', 'Adıyaman', 'Afyonkarahisar', 'Ağrı', 'Amasya', 'Ankara', 'Antalya', 'Artvin', 'Aydın', 'Balıkesir', 'Bilecik', 'Bingöl', 'Bitlis', 'Bolu', 'Burdur', 'Bursa', 'Çanakkale', 'Çankırı', 'Çorum', 'Denizli', 'Diyarbakır', 'Edirne', 'Elazığ', 'Erzincan', 'Erzurum', 'Eskişehir', 'Gaziantep', 'Giresun', 'Gümüşhane', 'Hakkari', 'Hatay', 'Isparta', 'Mersin', 'İstanbul', 'İzmir', 'Kars', 'Kastamonu', 'Kayseri', 'Kırklareli', 'Kırşehir', 'Kocaeli', 'Konya', 'Kütahya', 'Malatya', 'Manisa', 'Kahramanmaraş', 'Mardin', 'Muğla', 'Muş', 'Nevşehir', 'Niğde', 'Ordu', 'Rize', 'Sakarya', 'Samsun', 'Siirt', 'Sinop', 'Sivas', 'Tekirdağ', 'Tokat', 'Trabzon', 'Tunceli', 'Şanlıurfa', 'Uşak', 'Van', 'Yozgat', 'Zonguldak', 'Aksaray', 'Bayburt', 'Karaman', 'Kırıkkale', 'Batman', 'Şırnak', 'Bartın', 'Ardahan', 'Iğdır', 'Yalova', 'Karabük', 'Kilis', 'Osmaniye', 'Düzce', 'Diğer']
selected_df.index = cities


selected_df.head(10)

  ##slm güzellik :3
  #slm cnm

                 2009   2010   2011   2012   2013   2014   2015   2016   2017
Türkiye         24996  24418  31384  31024  35331  40593  43820  49296  50224
Adana             460    445    585    567    632    764    897   1091   1093
Adıyaman          112    131    167    161    235    236    242    332    317
Afyonkarahisar    410    416    553    566    502    580    646    650    581
Ağrı               95     75    103     89    160    208    203    207    246
Amasya            116    148    196    158    248    247    222    258    256
Ankara           1487   1443   1832   1668   1906   2122   2355   2372   2460
Antalya           412    426    542    530    617    737    858   1017   1111
Artvin             77     64    107    102    128    103    140    163    188
Aydın             458    417    596    623    659    792    827    880    928

In [ ]:
selected_df.describe()

        2009  2010  2011  2012  2013  2014  2015  2016  2017
count     83    83    83    83    83    83    83    83    83
unique    76    80    79    77    79    78    79    81    78
top       27   292    36   113   386   188   646   330   401
freq       2     2     2     2     2     2     2     2     3

# Yeni Bölüm